{% load static %}
{% load staticfiles %}

<!DOCTYPE html>
<html lang="zh-CN" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href="{{ STATIC_URL }} /static/css/bootstrap.min.css" rel="stylesheet">
    <!--<link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">-->
    <!--<script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>-->
    <!--<script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <h1>添加种子数据</h1>
    <!--输入框-->
    <!--<form>-->
    <!--<div class="form-group row">-->
    <!--<label for="first_name" class="col-xs-3 col-form-label mr-2">First Name</label>-->
    <!--<div class="col-xs-9">-->
    <!--<input type="text" class="form-control" id="first_name" name="first_name">-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="form-group row">-->
    <!--<label for="last_name" class="col-xs-3 col-form-label mr-2">Last Name</label>-->
    <!--<div class="col-xs-9">-->
    <!--<input type="text" class="form-control" id="last_name" name="last_name">-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="form-group row">-->
    <!--<div class="offset-xs-3 col-xs-9">-->
    <!--<button type="submit" class="btn btn-primary">Submit</button>-->
    <!--</div>-->
    <!--</div>-->
    <!--</form>-->
    <form autocomplete="on">
        {% csrf_token %}
        <div class="seed-info">
            <div class="seed-name">
                <span>种子名称</span>
                <input type="text" class="action-name input-group-sm" value="">
            </div>
            <div class="seed-desc">
                <span>种子描述</span>
                <textarea type="text" class="" style="white-space:nowrap; overflow:scroll; vertical-align: top;" cols="60"></textarea>
            </div>
            <div class="seed-run-interval">
                <span>运行间隔</span>
                <input type="text" class="action-name input-group-sm" value="">
            </div>
        </div>
        <br>
        <p>设置</p>
        <div class="seet-setting">
            <div class="seed-setting-header">
                <span>HEADER</span>
                <textarea type="text" class="" style="white-space:nowrap; overflow:scroll; vertical-align: top;" cols="60"></textarea>
            </div>
            <div class="seed-setting-header">
                <span>User-Agent</span>
                <select class="us-type">
                    <option value="pc_rand">pc_rand</option>
                    <option value="mobild_rand">mobild_rand</option>
                    <option value="weixin">weixin</option>
                </select>
            </div>
            <div class="seed-setting-header">
                <span>Cookie 支持</span>
                <select class="cookie-type">
                    <option value="A 站点">A 站点</option>
                    <option value="B 站点">B 站点</option>
                    <option value="C 站点">C 站点</option>
                </select>
            </div>
        </div>
        <div class="seed-init">
            <div class="seed-type">
                <span>初始话链接</span>
                <select class="cookie-type">
                    <option value="list">list</option>
                    <option value="template">template</option>
                    <option value="pyfunc">pyfunc</option>
                </select>
            </div>
            <div class="seed-init-url">
                <span>初始种子链接</span>
                <textarea type="text" class="" style="white-space:nowrap; overflow:scroll; vertical-align: top;" cols="60"></textarea>
            </div>
        </div>

        <div class="page-actions" id="page-actions">
            <ul class="page-action">
                <li class="action">
                    <div class="action-name">
                        <span>名称</span>
                        <input type="text" class="action-name input-group-sm" value="" autocomplete="off">
                    </div>
                    <div class="action-next">
                        <span>下一步动作</span>
                        <ul class="page-next-action">
                            <div class="next-type">
                                <span>type</span>
                                <select class="next-type">
                                    <option value="xpath">xpath</option>
                                    <option value="json">json</option>
                                    <option value="re">re</option>
                                </select>
                            </div>
                            <div class="next-temp">
                                <span>URL 模板</span>
                                <input type="text" class="input-group-sm" size="65" value=""/>
                            </div>
                            <div class="next-regex">
                                <span>URL 正则</span>
                                <input type="text" class="" size="65" value=""/>
                            </div>
                            <div class="next-field">
                                <span>下一个属性解析</span>
                                <textarea type="text" class="" style="white-space:nowrap; overflow:scroll; vertical-align: top;" cols="60"></textarea>
                            </div>
                        </ul>
                    </div>
                    <div class="action-extract">
                        <span>提取数据</span>
                        <textarea type="text" class="" style="white-space:nowrap; overflow:scroll; vertical-align: top;" cols="60"></textarea>
                    </div>
                    <div class="action-sample">
                        <span>示例链接</span>
                        <textarea type="text" class="" style="white-space:nowrap; overflow:scroll; vertical-align: top;" cols="60"></textarea>
                    </div>
                    <div class="action-remove-self">删除自己</div>
                    <div class="action-add-child">添加子节点</div>
                </li>
            </ul>
        </div>

        <div class="add-page-action"><i class="fa fa-plus"></i>添加 Page Action</div>
        <div class="test-parse-data"><i class="fa fa-plus"></i>测试提取数据</div>
    </form>

    <button type="button" class="btn btn-default">取消</button>
    <button type="button" class="btn btn-primary save-config">保存</button>
    <button type="button" class="btn btn-primary">调试</button>
</div>

<script type="text/javascript" src="{{ STATIC_URL }}/static/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}/static/js/bootstrap.js"></script>
    
<script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.js"></script>

<script>
    var temp_data = '<ul class="page-action">\n' +
        '                <li class="action">\n' +
        '                    <div class="action-name">\n' +
        '                        <span>名称</span>\n' +
        '                        <input type="text" class="action-name input-group-sm" value="" autocomplete="off">\n' +
        '                    </div>\n' +
        '                    <div class="action-next">\n' +
        '                        <span>下一步动作</span>\n' +
        '                        <ul class="page-next-action">\n' +
        '                            <div class="next-type">\n' +
        '                                <span>type</span>\n' +
        '                                <select class="next-type">\n' +
        '                                    <option value="xpath">xpath</option>\n' +
        '                                    <option value="json">json</option>\n' +
        '                                    <option value="re">re</option>\n' +
        '                                </select>\n' +
        '                            </div>\n' +
        '                            <div class="next-temp">\n' +
        '                                <span>URL 模板</span>\n' +
        '                                <input type="text" class="input-group-sm" size="65" value=""/>\n' +
        '                            </div>\n' +
        '                            <div class="next-regex">\n' +
        '                                <span>URL 正则</span>\n' +
        '                                <input type="text" class="" size="65" value=""/>\n' +
        '                            </div>\n' +
        '                            <div class="next-field">\n' +
        '                                <span>下一个属性解析</span>\n' +
        '                                <textarea type="text" class="" style="white-space:nowrap; overflow:scroll; vertical-align: top;" cols="60"></textarea>\n' +
        '                            </div>\n' +
        '                        </ul>\n' +
        '                    </div>\n' +
        '                    <div class="action-extract">\n' +
        '                        <span>提取数据</span>\n' +
        '                        <textarea type="text" class="" style="white-space:nowrap; overflow:scroll; vertical-align: top;" cols="60"></textarea>\n' +
        '                    </div>\n' +
        '                    <div class="action-sample">\n' +
        '                        <span>示例链接</span>\n' +
        '                        <textarea type="text" class="" style="white-space:nowrap; overflow:scroll; vertical-align: top;" cols="60"></textarea>\n' +
        '                    </div>\n' +
        '                    <div class="action-remove-self">删除自己</div>\n' +
        '                    <div class="action-add-child">添加子节点</div>\n' +
        '                </li>\n' +
        '            </ul>';

    $(".add-page-action").click(function () {
        $('#page-actions').append(temp_data)
    });


    $(document).on('click', ".action-add-child", function (event) {
        $(this).parent().append(temp_data);
        event.stopPropagation()
    });

    $(document).on('click', ".action-remove-self", function (event) {
        $(this).parent().remove();
        event.stopPropagation()
    });

    $(".test-parse-data").click(function () {
        var page_actions = $(".page-actions"); // 获取到跟节点 page-actions

        var page_action_item = page_actions.children('.page-action'); // 获取到第一层的 page-action 列表
        var add_page_datas = parse_page_action_list(page_action_item);
        console.log(add_page_datas);
    });

    function parse_page_action_list(page_action_item) {
        var page_datas = [];
        page_action_item.each(function (i, item) {  // 遍历子节点，获取输入数据
            var data = {};
            var obj = $(item);
            var action = obj.find('.action');
            var action_name = action.find('.action-name');  // name
            data['action_name'] = action_name.find('input').val();
            data['next'] = {};
            var action_next = action.find('.action-next');  // next
            data['next']['type'] = action_next.find('select').find(":selected").text();
            data['next']['url_temp'] = action_next.find('.next-temp').find('input').val();
            data['next']['url_regex'] = action_next.find('.next-regex').find('input').val();
            // next_field  todo... 现在需要输入 json 格式
            data['next']['next_field'] = JSON.parse(action_next.find('.next-field').find('textarea').val());

            // extract  todo...
            data['extract_field'] = action.find('.action-extract').find('textarea').val().split('\n');
            // sample
            data['sample_urls'] = action.find('.action-sample').find('textarea').val().split('\n');
            var child_action_item = action.find(".page-action");
            var add_pages = parse_page_action_list(child_action_item);
            if (add_pages.length > 0) {
                data['add_pages'] = add_pages;
            }
            page_datas.push(data);
        });
        return page_datas;
    }

    $('.save-config').on('click', function (event) {
        var name = $(".seed-name").find("input").val();  //
        var description = $(".seed-desc").find("textarea").val(); //
        var run_interval = $(".seed-run-interval").find("input").val(); //
        var init_type = $(".seed-type").find('select').find(":selected").text();
        var init_info = $(".seed-init-url").find("textarea").val(); //
        var page_actions = $(".page-actions"); // 获取到跟节点 page-actions //
        var page_action_item = page_actions.children('.page-action'); // 获取到第一层的 page-action 列表
        var add_page_datas = parse_page_action_list(page_action_item);

        if (init_type === 'list') {
            init_info = init_info.split('\n')
        }

        var rule_data = {
            "seed_init": {
                "init_type": init_type,
                "init_info": init_info
            },
            "add_pages": add_page_datas
        };
        var data = {
            // 'seed_id': 3,
            'name': name,
            'description': description,
            'run_interval': run_interval,
            'rule_data': JSON.stringify(rule_data)
        };
        console.log(data);
        $.ajax({
            type: "POST",
            url: '/vertical/addseed/',
            data: data,
            dataType: "json",
            success: function (body) {
                console.log(body)
            }
        });
    });
</script>
</body>
</html>